
body {
    font-family: Arial;
    padding: 10px;
    background-image: url("../../assets/images/home.jpg");
    background-size: cover;
    height: 600px;
    margin-top: 10px;
    
  
  }
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background-image: url("../../assets/images/head.png");
    height: 220px;
    margin: 0 auto;
  }